{% extends "main.html.twig" %}

{% block title%}Drukuj{%endblock%}

{% block css %}
    <link rel="stylesheet" href="/csm/resource/css/simpleprint.css" type="text/css"/>
{% endblock %}
    
{% block body %}
<div id="lol">
    <div id="strona">
 <div id="imieirasa"><div id="name">{{sheet.getName()}}</div>
 
 rasa:  {{sheet.getRace.getName}}</div>
 <div id="opis">
 <br>doświadczenie: {{sheet.getExp()}}
 
 <br>wygląd:  {{sheet.getAppearance()}}
 
 <br>archetyp: {{sheet.getArchetype()}}
 
 <br>opis: {{sheet.getDescription()}}
 
 
 
 </div>
 

 
  
  
 

  <div id="atrybuty">
      
 <table>        
 {% for attribute in sheet.getAttributes %}
 <tr>
     <td>
     {{attribute.getName|slice(0, 2)}}
     </td>
     <td>
      {%if attribute.getValue <= 12%}{{attribute.getValue}}{%else%}k12+{{attribute.getValue - 12}}{%endif%}
     </td>
</tr>
{%endfor%}
</table>  
 </div>
 
 
 
 <div id="walka">
  <br> umiejętności bojowe: <br>
 {% set t1 = [1, 20, 21,10 ,4 ] %}
  {% for id in t1 %}
 {%if sheet.getSkill(id).getValue == 0%}
 {%else%}
   {{sheet.getSkill(id).getName}}
 {%if sheet.getSkill(id).getValue <= 12%}
 k{{sheet.getSkill(id).getValue}} 
 {%else%}k12+{{sheet.getSkill(id).getValue - 12}}{%endif%}
 <br>{%endif%}
 {%endfor%}
 </div>
 
 
 
 
 <br>Tempo:{{sheet.getPace()}}
<br>Obrona:{{sheet.getParry()}}
 <br>Wytrzymałość:{{sheet.getToughness()}}
 <br>Charyzma:{{sheet.getCharisma()}}
 <br>kość ruchu: k{{sheet.getRunDie()}}
 <br>Ilość kart inicjatywy: {{sheet.getInitiativeCards()}}
 <br>Minimalna karta inicjatywy:{{sheet.getInitiativeMinimum()}}
 <br>
 
 <br>Przewagi:
 <br>{% for edge in sheet.getEdges %}
 {{edge.getName}}
 <br>{%endfor%}
 <br>
 Zawady:
 <br>{% for hindrance in sheet.getHindrances %}
 {{hindrance.getName}}
 <br>{%endfor%}
 <br>
 
 Umiejętności:
 <br>{% for skill in sheet.getSkills %}
{%if skill.getId not in t1%} 
{{skill.getName}}
{%if skill.getValue <= 12%}
 k{{skill.getValue}} 
 {%else%}k12+{{skill.getValue - 12}}{%endif%} <br>
{%endif%}
 
 {%endfor%}
 
 <br>{% for power in sheet.getPowers %}
 {{power.getName}}
 {%endfor%}
 
 
 

 
        </div>
</div>
    {% endblock %}